{% extends "layout/layout.twig" %}

{% block page_head %}

<link rel="stylesheet" href="css/manageStyle.css">

{% endblock %}


{% block page_content %}

<div class="container objectSpace">

	<div class="eventNameOnViewer">
		<h2  id="eventName">{{ event_name }}</h2>
	</div>

	<div class="container entryField1">
		<div class="containerForActionsAndInformation">

			<div class="toolbarContainer">
				<h4> Toolbar </h4>
				<div class="buttonsContainer">
					<div class="mx-1 goToEvent">

						<Button type="button" class="btn btn-sm btn-dark visitEvent">
							<a class="text-info" href="./register?key={{ event_key }}">
								<i class="fas fa-external-link-alt"></i>
							</a>
						Go To Event Registration
						</Button>
					</div>
					
					<div class="mx-1 inviteEvent">
						<Button type="button" class="btn btn-sm btn-dark inviteEventButton" id="inviteEventButton">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							Invite Users to This Event
						</Button>
					</div>
					
					<br>
					
					<div class="mx-1 editEvent">
						<button type="button" class="btn btn-sm btn-dark editEventButton"> 
							<a class="text-info" href="./edit?key={{ event_key }}">
								<i class="fas fa-edit"></i>
							</a>
							Edit This Event
						</button>
					</div>
					
					<div class="mx-1 deleteEvent">
						<Button type="button" class="btn btn-sm btn-danger deleteEventButton" id="deleteEventButton">
							<i class="fas fa-trash"></i>
							Delete This Event
						</Button>
					</div>
					
					<br>
					
					<div class="mx-1 returnEvent">
						<Button type="button" class="btn btn-sm btn-black returnEventButton">
							<a class="text-info" href="./events">
								<i class="fas fa-arrow-left"></i>
							</a>
							Go Back
						</Button>
					</div>
				</div>
			</div>
			
			<div class="logisticsContainer">
				<h4> Event Information </h4>
				<div class="informationContainer">
					<label> Event Capacity:  </label>
					<br>
					<label> Available Slots: </label>
					<br>
					<label> Duration Per Timeslot: </label>
					<br>
					<br>
					<label> Event Location: </label>
					<br>
					<label> Event Description: </label>
					<br>
					<br>
					<label> Anonymous Event Option: </label>
					<br>
					<label> File Upload Option: </label>
					<br>
					<br>
					<label> Link to Event Registration: </label>
				</div>
			</div>

		<br>
		<br>
		<div class="slotsContainer">
		<div class="container">


			{% if table_headers %}

			{{ include('partials/search.twig') }}

			{% else %}

			<br><br><h3 class="text-center">No one has signed up for this event yet.</h4>

			{% endif %}

			<table class="table table-striped">

				<thead>
					<tr class="row">
						{% for table_header in table_headers %}
						<th class="col">{{ table_header }}</th>
						{% endfor %}
					</tr>
				</thead>

				<tbody class="tableBody">
					{% for table_row in table_rows %}

					<tr class="row">
						{% for column in table_row|slice(0, -1) %}
						<td class="col">{{ column }}</td>
						{% endfor %}

						{% set file_path = table_row|last|slice(6) %}
						{% set file_name = file_path|slice(34) %}
						<td>
							<a href="../{{ file_path }}" download="{{file_name}}">
								<button class="manageEvent fileDownloadButton">
									<i class="fa fa-download"></i> Download
								</button>
							</a>
						</td>
					</tr>

					{% endfor %}
				</tbody>
			</table>

		</div>

	</div>


	<div id="deleteConfirm" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h1> Confirm Delete </h1>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-dark" id="deleteCancelButton"
							data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-dark" id="deleteSubmitButton">Delete</button>
					</div>
				</div>

			</div>

	</div>

	<div id="massInvite" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h1> Invite Users Via Email </h1>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="inviteInstructions">
						<text>Notify a list of users about this event via email. </text>
						<br>
						<text class="requirementsForInviteText">*Requirements: CSV or TXT file with a list of ONIDs*</text>
					</div>
					
					<br>
					<div class="inviteFileContainer">
					<label id="uploadLabel"> Upload a txt or csv file to send: </label>
					
					<div class="input-group fileInvite">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputInviteFile" accept=".txt, .csv">
							<label class="custom-file-label" for="inputGroupFile04">Choose a File</label>
						</div>
					</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="inviteCancelButton"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-dark" id="inviteSubmitButton">Send</button>
				</div>
			</div>

		</div>

	</div>
	
</div>

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/ui.js"></script>

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="view_js/manage.js"></script>


<!-- JavaScript specific to this page -->
<script>$(document).ready( function(){ formatTableDateTime(0); }); </script>

{% endblock %}
