{% extends "layout/layout.twig" %}

{% block page_head %} 

<link rel="stylesheet" href="css/reservationsStyle.css"> 

{% endblock %}


{% block page_content %}

<div class="container objectSpace">

	<h2> Your Reservations </h2>

	<div class="container entryField1">

		{{include('partials/search.twig') }}
		
		<div class="yourInvites table-responsive">
		
			<table class="table table-striped" id="invitesTable">
				<thead>
				<tr scope="row">
					{% for table_header in table_headers|slice(0, -1) %}
					<th scope="col">{{ table_header }}</th>
					{% endfor %}
					<th scope="col">
						<i class="fa fa-trash selectTrash eventManageButton" aria-hidden="true"></i>	
					</th>
				</tr>
				</thead>
				<tbody class="tableBody">
				{% for table_row in table_rows %}

				<tr scope="row">

					{% set event_key = table_row|last %}

					<td>
						<a class="text-info" href="./register?key={{ event_key }}">{{ table_row|first }}</a>
					</td>

					{% for column in table_row|slice(1, -1) %}

					<td>{{ column }}</td>

					{% endfor %}
					
					<td>
						<button class="deleteEvent eventManageButton">
							<i class="fas fa-times"></i>
							<text> Delete </text>
						</button>
					</td>

				</tr>
				
				{% endfor %}
				</tbody>
			</table>

		</div>

	</div>
	
	<div id="deleteConfirm" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h1> Confirm Delete </h1>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="containerForEventsToDelete">
					<h4 id="deleteEventsHeader"> Reservation to be Removed: </h4>

					<ul class="list-group"></ul>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="deleteCancelButton"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-dark" id="deleteSubmitButton">Submit</button>
				</div>
			</div>

		</div>

	</div>
	
	<!-- Modal FeedBack -->
	<div id="feedBackModalDelete" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 id="feedbackDelete" class="modal-title">Reservation Deleted!</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>

		</div>

	</div>

</div>

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/ui.js"></script>

<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/reservations.js"></script>

<!-- JavaScript specific to this page -->
<script>$(document).ready( 
	function(){ formatTableDateTime(1); 
}); </script>

{% endblock %}