{% extends "layout/layout.twig" %}

{% block page_content %}

<div class="container objectSpace">

	<h2> Your Invites </h2>

	<div class="container entryField1">

		<div class="yourInvites">

			<table class="table">

				<tr class="row">
					{% for table_header in table_headers|slice(0, -1) %}
					<th class="col">{{ table_header }}</th>
					{% endfor %}
				</tr>

				{% for table_row in table_rows %}

				<tr class="row">

					<td class="col">{{ table_row|first }}</td>

					{% set event_key = table_row|last %}

					<td class="col">
						<a class="text-info" href="./register?key={{ event_key }}">{{ table_row|slice(1,1)|first }}</a>
					</td>

					<td class="col">{{ table_row|slice(2,2)|first }}</td>

				</tr>
				
				{% endfor %}

			</table>

		</div>

	</div>

</div>

<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- Date Range Picker -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- UI specific javascripts -->
<script type="text/javascript" src="view_js/UI_index.js"></script>

<!-- JavaScript specific to this page -->
<script type="text/javascript" src="view_js/invite_index.js"></script>

{% endblock %}